@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montel";
  src: url(../public/fonts/Montel.otf);
}
@font-face {
  font-family: "LOREYNA";
  src: url(../public/fonts/LOREYNA.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.638)),
    url("/assets/images/hotel-entry.jpg");
  background-position: center;
  background-size: cover;
}
.gradient-0 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.638)),
    url("/assets/images/romms.jpg");
  background-position: center;
  background-size: cover;
}

.header {
  top: 20px;
  position: absolute;
}

.dot {
  position: relative;
  display: inline-block;
}

.dot::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #f70303;
}
.dot::after {
  content: "";
  display: block;
  position: absolute;
  right: -20px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #e80101;
}
.dot_in {
  position: relative;
  display: inline-block;
}

.dot_in::before {
  content: "";
  display: block;
  position: absolute;
  left: -8px;
  top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #f8f6d6;
}
.dot_in::after {
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #f8f6d6;
}

.dot_in_in {
  position: relative;
  display: inline-block;
}

.dot_in_in::before {
  content: "";
  display: block;
  position: absolute;
  left: -8px;
  top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #232322;
}
.dot_in_in::after {
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: -2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #202020;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}

.nav__menu-list.active {
  right: 0;
}

.overlay-close {
  visibility: visible;
  left: 0;
}
